.custom-class label {
  background: #34495e;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.x-file-input {
  text-align: center;
}

.x-file--input:focus + label,
.custom-class label:hover {
  background-color: #2C3E50;
}

.demo-wrapper {
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  background-color: #f3f3f3;
  padding: 30px;
  font-family: helvetica;
  border-radius: 3px;
}

.demo-camera-icon {
  font-size: 40px;
  color: #34495e;
  padding: 10px;
  text-align: center;
}

.demo-photo-preview {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
}

.photo-name {
  padding: 8px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  color: #d3d3d3;
  margin-top: 12px;
}

.photo-name label:hover {
  border: 1px solid #34495e;
  color: #34495e;
}

.fa {
  font-size: 50px;
}
