<h2 id="title">Welcome to emberx-file-input</h2>


<div style="margin-bottom: 10px;">
  {{#x-file-input class="custom-class" action="tryAnUpload" id="spec-file-input"}}
    <h3>Shall you upload?</h3>
  {{/x-file-input}}
</div>

<div>
  Non block:
  {{x-file-input class="custom-class" alt="Upload Something!"
    action="tryAnUpload" id="spec-file-input-blockless"}}
</div>

{{outlet}}
